.animation {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeAndSlide 0.5s ease-in-out forwards;
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggleDiv1 {
  height: 80vh;
  overflow: hidden;
  transition: height 20s ease; /* Add transition property */
}

.visible1 {
  height: 2rem;
}

.hidden1 {
  height: 0;
}

.toggleDiv {
  height: 2rem;
  overflow: hidden;
  transition: height 0.4s ease;
}

.visible {
  height: 2rem;
}

.hidden {
  height: 0;
}

.dropdownContainer {
  width: 100%; /* Set the width of the dropdown container */
}

.dropdown {
  width: 100%; /* Set the width of each dropdown */
}

.stickyTop {
  position: fixed;
  top: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}
